.cabecalho{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    margin: 0px 0px 30px 0px;
    align-items: center;
    justify-content: center;
    background: rgb(16, 150, 228);
}

.logo1{
    width: auto;
    height: 129px;
}



