.lupa_pesquisa{
    display: grid;
    align-items: center;
    margin: 20px 0px;
}

.pesquisa::placeholder{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}