@import url('https://unpkg.com/@picocss/pico@1.*/css/pico.min.css');
@import url('/styles/reset.css');
@import url('/styles/nav.css');
@import url('/styles/main.css');
@import url('/styles/header.css');
@import url('/styles/footer.css');
@import url('/styles/grid.css');
@import url('/styles/produtos.css');
@import url('/styles/imputs.css');
@import url('/styles/varaibles.css');
@import url('/styles/scrollbar.css');

*{
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

